<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="ShopApp" version="2.5">

	<display-name>ShopApp</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>default.htm</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>CustomerServlet</display-name>
		<servlet-name>CustomerServlet</servlet-name>
		<servlet-class>servlets.customer.CustomerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CustomerServlet</servlet-name>
		<url-pattern>/CustomerServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ShopOwnerServlet</display-name>
		<servlet-name>ShopOwnerServlet</servlet-name>
		<servlet-class>servlets.shopowner.ShopOwnerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShopOwnerServlet</servlet-name>
		<url-pattern>/ShopOwnerServlet</url-pattern>
	</servlet-mapping>
	<filter>
		<display-name>VerificationFilter</display-name>
		<filter-name>VerificationFilter</filter-name>
		<filter-class>filters.VerificationFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>VerificationFilter</filter-name>
		<url-pattern>/VerificationFilter</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>VerificationFilter</filter-name>
		<servlet-name>CustomerServlet</servlet-name>
	</filter-mapping>
	<filter-mapping>
		<filter-name>VerificationFilter</filter-name>
		<servlet-name>ShopOwnerServlet</servlet-name>
	</filter-mapping>
	
	<servlet>
		<description></description>
		<display-name>FindShopsServlet</display-name>
		<servlet-name>FindShopsServlet</servlet-name>
		<servlet-class>servlets.customer.FindShopsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FindShopsServlet</servlet-name>
		<url-pattern>/FindShopsServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>CustomerOrder</display-name>
		<servlet-name>CustomerOrder</servlet-name>
		<servlet-class>servlets.customer.CustomerOrder</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CustomerOrder</servlet-name>
		<url-pattern>/CustomerOrder</url-pattern>
	</servlet-mapping>
	<listener>
		<listener-class>listeners.CustomerSessionListener</listener-class>
	</listener>
	<servlet>
		<description></description>
		<display-name>Logout</display-name>
		<servlet-name>Logout</servlet-name>
		<servlet-class>Logout</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>RemoveItems</display-name>
		<servlet-name>RemoveItems</servlet-name>
		<servlet-class>servlets.customer.RemoveItems</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RemoveItems</servlet-name>
		<url-pattern>/RemoveItems</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>AddToCart</display-name>
		<servlet-name>AddToCart</servlet-name>
		<servlet-class>servlets.customer.AddToCart</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddToCart</servlet-name>
		<url-pattern>/AddToCart</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>OrderRemove</display-name>
		<servlet-name>OrderRemove</servlet-name>
		<servlet-class>servlets.customer.OrderRemove</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OrderRemove</servlet-name>
		<url-pattern>/OrderRemove</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ViewCart</display-name>
		<servlet-name>ViewCart</servlet-name>
		<servlet-class>servlets.customer.ViewCart</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewCart</servlet-name>
		<url-pattern>/ViewCart</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ViewProducts</display-name>
		<servlet-name>ViewProducts</servlet-name>
		<servlet-class>servlets.customer.ViewProducts</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewProducts</servlet-name>
		<url-pattern>/ViewProducts</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Order</display-name>
		<servlet-name>Order</servlet-name>
		<servlet-class>servlets.customer.Order</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Order</servlet-name>
		<url-pattern>/Order</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>MyOrders</display-name>
		<servlet-name>MyOrders</servlet-name>
		<servlet-class>servlets.customer.MyOrders</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MyOrders</servlet-name>
		<url-pattern>/MyOrders</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>RemoveCartItem</display-name>
		<servlet-name>RemoveCartItem</servlet-name>
		<servlet-class>servlets.customer.RemoveCartItem</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RemoveCartItem</servlet-name>
		<url-pattern>/RemoveCartItem</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>ViewOrders</display-name>
		<servlet-name>ViewOrders</servlet-name>
		<servlet-class>servlets.shopowner.ViewOrders</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ViewOrders</servlet-name>
		<url-pattern>/ViewOrders</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>MyProducts</display-name>
		<servlet-name>MyProducts</servlet-name>
		<servlet-class>servlets.shopowner.MyProducts</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MyProducts</servlet-name>
		<url-pattern>/MyProducts</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>UpdateProduct</display-name>
		<servlet-name>UpdateProduct</servlet-name>
		<servlet-class>servlets.shopowner.UpdateProduct</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateProduct</servlet-name>
		<url-pattern>/UpdateProduct</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>RemoveProduct</display-name>
		<servlet-name>RemoveProduct</servlet-name>
		<servlet-class>servlets.shopowner.RemoveProduct</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RemoveProduct</servlet-name>
		<url-pattern>/RemoveProduct</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>AddProduct</display-name>
		<servlet-name>AddProduct</servlet-name>
		<servlet-class>servlets.shopowner.AddProduct</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddProduct</servlet-name>
		<url-pattern>/AddProduct</url-pattern>
	</servlet-mapping>
</web-app>